<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <mat-card style="color: darkblue; background-color:rgb(251, 252, 249);">
                <mat-card-header>                        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <mat-card-title> Department Master </mat-card-title>  
                            </div>
                            <div class="col-7">
                                <mat-card-actions>
                                    <div class="row">
                                        <div class="col">
                                            <button mat-raised-button 
                                            class="bg-primary text-white btn btn-block" 
                                            style="border-radius: 50%;"
                                            (click)="newForm()">
                                                <mat-icon>add</mat-icon> New
                                            </button>
                                        </div>
                                        <!-- <div class="col">
                                            <button mat-raised-button 
                                            class="bg-info text-white btn btn-block" 
                                            style="border-radius: 50%;">
                                                <mat-icon>note_add</mat-icon> Edit 
                                            </button>
                                        </div> -->
                                        <div class="col">
                                            <button mat-raised-button 
                                            class="bg-secondary text-white btn btn-block" 
                                            style="border-radius: 50%;">
                                                <mat-icon>print</mat-icon> Print
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button mat-raised-button 
                                            class="bg-success text-white btn btn-block" 
                                            style="border-radius: 50%;"
                                            (click)="onFormSubmit()">
                                                <mat-icon>note_add</mat-icon> Submit 
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button mat-raised-button 
                                            class="bg-warning text-white btn btn-block" 
                                            style="border-radius: 50%;">
                                                <mat-icon>delete</mat-icon> Delete
                                            </button>   
                                        </div>
                                        <div class="col">
                                            <button mat-raised-button 
                                            class="bg-danger text-white btn btn-block" 
                                            style="border-radius: 50%;">
                                            <!-- (click)="refreshForm()"> -->
                                                <mat-icon>cancel</mat-icon> Cancel
                                            </button>
                                        </div>  
                                    </div>
                                </mat-card-actions>
                            </div>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="col-12">
                        <form class="form-container" [formGroup]="DepartMentForm">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="full-width">
                                        <mat-label i18n="@@CMMContactsNameFormControl">Department Prefix</mat-label>
                                        <input matInput 
                                        #deptNo formControlName="dptPrefix"
                                        (keydown.f2)="lookupDepartmemt(deptNo.value)"
                                        (keydown.enter)="searchDepartment(deptNo.value)">
                                    </mat-form-field>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-6">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Name</mat-label>
                                        <input matInput 
                                        type="text" 
                                        formControlName="dptName" >
                                        <mat-error i18n="@@CMMContactsMobileFormControlError">Name is <strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Last Serial No</mat-label>
                                        <input matInput 
                                        type="text" 
                                        formControlName="dptLastSerial" >
                                        <mat-error i18n="@@CMMContactsMobileFormControlError">Last Serial No is <strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsNameFormControl">
                                            Active
                                        </mat-label>
                                        <mat-select formControlName="dptActive" required>
                                            <mat-option> ----- </mat-option>
                                            <mat-option value="1">Yes</mat-option>
                                            <mat-option value="0">No</mat-option>
                                          </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsNameFormControl">
                                            Type of Expenses
                                        </mat-label>
                                        <mat-select formControlName="dptType" required>
                                            <mat-option> ----- </mat-option>
                                            <mat-option value="D">Direct</mat-option>
                                            <mat-option value="I">InDirect</mat-option>
                                          </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <hr>
                                <div class="form-row">
                                    <div class="col-12" 
                                    style="height: 25vh; overflow-y: auto;" >
                                        <table class="table table-borderless table-hover table-responsive-xxl"
                                        formArrayName="dptItemArry">
                                            <thead>
                                                <tr class="table-reflow" 
                                                style="background-color: rgb(25, 129, 129); color: white;">
                                                    <th style="width: 10%;">Code</th>
                                                    <th style="width: 30%;">Description</th>
                                                    <th style="width: 10%;">Accode</th>
                                                    <th style="width: 30%;">AcName</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody (keydown.alt.n)="addDeptItem()">
                                                <tr 
                                                #rptItem 
                                                *ngFor="let rp of dptItems.controls; let i = index;" 
                                                [formGroupName]="i" 
                                                (keydown.alt.x)="deleteDeptItem(i)">
                                                    <td>
                                                        <input #itemCode 
                                                        class="form-control form-control-sm" 
                                                        type="text"
                                                        formControlName="dptCostCenter"
                                                        (keydown.f2)="lookupCostCenter(itemCode.value,'cost',i)"
                                                        (change)="checkcostcenter(itemCode.value,i)">
                                                        
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="dptDescription" >
                                                        <!-- (keydown.f2)="lookUpLocs(itemCode.value)"> -->
                                                    </td>              
                                                    <td>
                                                        <input #pcode
                                                        class="form-control form-control-sm" 
                                                        type="text"
                                                        formControlName="dptAccode"
                                                        (keydown.f2)="lookupOpbal(pcode.value,'opbal',i)"
                                                        (change)="checkopbal(pcode.value,i)">
                                                    </td>
                                                    <td>
                                                        <input class="form-control form-control-sm" 
                                                        type="text" 
                                                        formControlName="dptAccName">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger" 
                                                        type="button" 
                                                        (click)="deleteDeptItem(i)">&#10005;</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-success" 
                                        type="button" 
                                        (click)="addDeptItem()">&#43;</button>
                                    </div>
                                </div>
                                <hr>
                        </form>
                    </div>
                </mat-card-content>
                <div class="col-12">
                    <ng-template #DeptLookUpDailouge 
                    style="width: 60%;">
                        <h3 matDialogTitle>
                            <b>Look up for Department prefix: {{ deptArr.length }}</b>
                        </h3>
                        <hr>
                        <!-- <mat-form-field >
                            <input matInput #input
                            (keyup)="applyFilter($event)" >
                        </mat-form-field> --->
                        <div mat-dialog-content>
                            <table mat-table 
                            [dataSource]="deptDataSource" 
                            class="mat-elevation-z8" 
                            style="width: 65vw; height: 50vh;">
                                <ng-container matColumnDef="deptid">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Department Id </th>
                                    <td mat-cell 
                                    *matCellDef="let dept"> {{ dept.DEPT_ID }} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="deptname">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Department Name </th>
                                    <td mat-cell 
                                    *matCellDef="let dept"> {{ dept.DEPT_NAME }} </td>
                                </ng-container>

                                <ng-container matColumnDef="prefix">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Department Prefix </th>
                                    <td mat-cell 
                                    *matCellDef="let dept"> {{ dept.PREFIX }} </td>
                                </ng-container>
                                <tr mat-header-row 
                                *matHeaderRowDef="deptDisplayedColumns"></tr>
                                <tr mat-row 
                                *matRowDef="let row; columns: deptDisplayedColumns;  let i= index"
                                [ngClass]="{'highlight': selectedRowIndex == i}"
                                (click)="highlight('dept',i)"
                                tabindex="999"
                                (keydown.arrowdown)="arrowDownEvent('dept',selectedRowIndex)"
                                (keydown.arrowup)="arrowUpEvent('dept',selectedRowIndex)" 
                                (keydown.enter)="selectDept(deptArr[selectedRowIndex])"></tr>
                              
                                <!-- // Row shown when there is no matching data.  -->
                                <!-- <tr class="mat-row" 
                                *matNoDataRow>
                                  <td class="mat-cell" 
                                  colspan="4">No data matching the filter "{{input.value}}"</td>
                                                                        </tr> -->
                        </table>
                    </div>
                    <mat-dialog-actions align="end">
                        <button mat-button 
                        matDialogClose="close">Close</button>
                    </mat-dialog-actions>
                </ng-template>
                </div>
                <div class="col-12">
                    <ng-template #CostCenterLookUpDailouge 
                    style="width: 60%;">
                        <h3 matDialogTitle>
                            <b>Look up for CostCenter: {{ costArr.length }}</b>
                        </h3>
                        <hr>
                        <!-- <mat-form-field >
                            <input matInput #input
                            (keyup)="applyFilter($event)" >
                        </mat-form-field> --->
                        <div mat-dialog-content>
                            <table mat-table 
                            [dataSource]="CostCenterDataSource" 
                            class="mat-elevation-z8" 
                            style="width: 65vw; height: 50vh;">
                                <ng-container matColumnDef="costid">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Cost Center Id </th>
                                    <td mat-cell 
                                    *matCellDef="let costcenter"> {{ costcenter.EXP_ID }} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="costcode">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Cost Center Code </th>
                                    <td mat-cell 
                                    *matCellDef="let costcenter"> {{ costcenter.EXP_CODE }} </td>
                                </ng-container>

                                <ng-container matColumnDef="costname">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Cost Center Name </th>
                                    <td mat-cell 
                                    *matCellDef="let costcenter"> {{ costcenter.EXP_DESC }} </td>
                                </ng-container>
                                <tr mat-header-row 
                                *matHeaderRowDef="CostCenterDisplayedColumns"></tr>
                                <tr mat-row 
                                *matRowDef="let row; columns: CostCenterDisplayedColumns;  let i= index"
                                [ngClass]="{'highlight': selectedRowIndex == i}"
                                (click)="highlight('cost',i)"
                                tabindex="999"
                                (keydown.arrowdown)="arrowDownEvent('cost',selectedRowIndex)"
                                (keydown.arrowup)="arrowUpEvent('cost',selectedRowIndex)" 
                                (keydown.enter)="selectCost(costArr[selectedRowIndex])"></tr>
                              
                                <!-- // Row shown when there is no matching data.  -->
                                <!-- <tr class="mat-row" 
                                *matNoDataRow>
                                  <td class="mat-cell" 
                                  colspan="4">No data matching the filter "{{input.value}}"</td>
                                                                        </tr> -->
                        </table>
                    </div>
                    <mat-dialog-actions align="end">
                        <button mat-button 
                        matDialogClose="close">Close</button>
                    </mat-dialog-actions>
                </ng-template>
                </div>
                <div class="col-12">
                    <ng-template #opbalLookupDialog 
                    style="width: 60%;">
                        <h3 matDialogTitle>
                            <b>Look up OpBal: {{ opbalArr.length }}</b>
                        </h3>
                        <hr>
                        <!-- <mat-form-field >
                            <input matInput #input
                            (keyup)="applyFilter($event)" >
                        </mat-form-field> --->
                        <div mat-dialog-content>
                            <table mat-table 
                            [dataSource]="opbalDataSource" 
                            class="mat-elevation-z8" 
                            style="width: 65vw; height: 50vh;">
                                <ng-container matColumnDef="pcode">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Product Code </th>
                                    <td mat-cell 
                                    *matCellDef="let opbal"> {{ opbal.PCODE }} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> Customer Name </th>
                                    <td mat-cell 
                                    *matCellDef="let opbal"> {{ opbal.CUST_NAME }} </td>
                                </ng-container>

                                <ng-container matColumnDef="glcode">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> GLCODE </th>
                                    <td mat-cell 
                                    *matCellDef="let opbal"> {{ opbal.GLCODE }} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="opbal">
                                    <th mat-header-cell 
                                    *matHeaderCellDef> OPBAL </th>
                                    <td mat-cell 
                                    *matCellDef="let opbal"> {{ opbal.OPBAL }} </td>
                                </ng-container>
                              
                                <tr mat-header-row 
                                *matHeaderRowDef="opbalDisplayedColumns"></tr>
                                <tr mat-row 
                                *matRowDef="let row; columns: opbalDisplayedColumns;  let i= index"
                                [ngClass]="{'highlight': selectedRowIndex == i}"
                                (click)="highlight('opbal',i)"
                                tabindex="999"
                                (keydown.arrowdown)="arrowDownEvent('opbal',selectedRowIndex)"
                                (keydown.arrowup)="arrowUpEvent('opbal',selectedRowIndex)" 
                                (keydown.enter)="selectOpbal(opbalArr[selectedRowIndex])">
                                </tr>
                              
                                <!-- Row shown when there is no matching data. 
                                <tr class="mat-row" 
                                *matNoDataRow>
                                    <td class="mat-cell" 
                                    colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr> -->
                            </table>
                        </div>
                        <mat-dialog-actions align="end">
                            <button mat-button 
                            matDialogClose="close">Close</button>
                        </mat-dialog-actions>
                    </ng-template>
                </div>
                <mat-tab-group mat-align-tabs="center" >
                    <mat-tab label="Home" style="color:wheat;">
                        <div class="col-11">
                            <b>Search</b>
                            <mat-form-field class="full-width">
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput type="text" style="color: black;" placeholder="Please Enter Your Seach Keyword to filter" (keyup)=" quickCostCenterSearch()" [(ngModel)]="searchValue">
                            </mat-form-field>
                        </div>
                        <!-- GET PARTY DETAILS FOR THIS CUSTOMER-->
                        <ag-grid-angular style="width: 100%; height: 360px ;" 
                        class="ag-theme-balham" [animateRows]="true"
                        [pagination]="true" [paginationPageSize]="25" 
                        [gridOptions]="gridOptions" 
                        [rowStyle]="rowStyle"
                        [suppressRowClickSelection]="true"
                        (cellClicked)='onViewCellClicked($event)'
                        [columnDefs]="columnDepartmentDefs"
                        (gridReady)="onGridCostCenterReady($event)"></ag-grid-angular>     
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div> 