<div class="container-fluid">
    <div class="col-12">
        <mat-card style="color: darkblue; background-color:rgb(251, 252, 249);">
            <mat-card-header>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <mat-card-title>Sales & Orders</mat-card-title>  
                        </div>
                        <div class="col-7">
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-2">
                                        <button mat-raised-button 
                                        class="bg-primary text-white btn btn-block" 
                                        style="border-radius: 50%;">
                                        <!--(click)="newForm()" >-->
                                            <mat-icon>add</mat-icon> New
                                        </button>
                                    </div>
                                    <div class="col-2">
                                        <button mat-raised-button class="bg-warning text-white btn btn-block" style="border-radius: 50%;">
                                            <mat-icon>note_add</mat-icon> View 
                                        </button>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" mat-raised-button 
                                        class="bg-secondary text-white btn btn-block" 
                                        style="border-radius: 50%;">
                                        <!--[routerLinkActive]="['active']" [routerLink]="['/crm/invoicereport']" (click)="setReportData(invReportApiUrl, invReportName)">   -->
                                            <mat-icon>print</mat-icon> Print
                                        </button>
                                    </div>
                                    <div class="col-2">
                                        <button mat-raised-button 
                                        class="bg-success text-white btn btn-block" 
                                        style="border-radius: 50%;">
                                        <!-- (click)="onFormSubmit()"> -->
                                            <mat-icon>note_add</mat-icon> Submit 
                                        </button>
                                    </div>
                                    <div class="col-2">
                                        <button mat-raised-button class="bg-info text-white btn btn-block" style="border-radius: 50%;">
                                            <mat-icon>delete</mat-icon> Delete
                                        </button>   
                                    </div>
                                    <div class="col-2">
                                        <button mat-raised-button class="bg-danger text-white btn btn-block" style="border-radius: 50%;">
                                        <!-- (click)="refreshForm()"> -->
                                            <mat-icon>cancel</mat-icon> Cancel
                                        </button>
                                    </div>  
                                </div>
                            </mat-card-actions>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>                
        </mat-card>
    </div>
</div>