<div class="container">
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <mat-card-title>Sales Orders</mat-card-title>  
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <button class="btn-secondary btn btn-block" [routerLinkActive]="['active']" [routerLink]="['/crm/invoicereport']" (click)="setReportData(invReportApiUrl, invReportName)" title="Print Sales Order">  
                            <mat-icon>print</mat-icon>
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-success btn btn-block" (click)="onFormSubmit()" title="Submit this Sales Order">
                            <mat-icon>note_add</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-primary btn btn-block" (click)="goToAgreement()" title="View Agreement">
                            <mat-icon>arrow_circle_right</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-warning btn text-white btn-block" (click)="goToInvoice()" title="View Invoice">
                            <mat-icon>note_add</mat-icon> 
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-success btn btn-block" (click)="convertToInvoice()" title="Convert to Invoice">
                            <mat-icon>arrow_circle_right</mat-icon>  
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-info text-white btn btn-block" title="Cancel this Sales Order">
                            <mat-icon>delete</mat-icon> 
                        </button> 
                    </div>
                    <div class="col">
                        <button class="bg-danger text-white btn btn-block" (click)="refreshForm()" title="Refresh this form">
                            <mat-icon>cancel</mat-icon> 
                        </button>
                    </div>
                    <div class="col">
                        <button class="bg-warning text-white btn btn-block" [routerLink]="['/crm/sales-order']" title="Return to Sales Order List">
                            <mat-icon>arrow_back</mat-icon> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form [formGroup]="salesOrderForm" class="form-container">
            <div class="col-12"> 
                <div class="form-row">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="full-width">
                                        <mat-label i18n="@@CMMContactsNameFormControl">Sales Order Number</mat-label>
                                        <input matInput #sono formControlName="soNbr" (keydown.f2)="lookupSalesorder(sono.value)" (keydown.enter)="getSalesorder(sono.value)" >
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width">
                                        <mat-label i18n="@@CMMContactsNameFormControl">Agreement Number</mat-label>
                                        <input matInput #agrNo formControlName="agrNbr" (keydown.f2)="lookupAgreement(agrNo.value)" (keydown.enter)="getAgreement(agrNo.value)">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width">
                                        <mat-label i18n="@@CMMContactsNameFormControl">Invoice Number</mat-label>
                                        <input matInput #invNo formControlName="invNbr" (keydown.f2)="lookupInvoice(invNo.value)" (keydown.enter)="getInvoice(invNo.value)">
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Sales Order Date</mat-label>
                                        <input type="text" formControlName="sodate" matInput>
                                        <mat-error i18n="@@CMMContactsMobileFormControlError">Date <strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Subject </mat-label>
                                        <input type="text" formControlName="subject" matInput>
                                    </mat-form-field>
                                </div> 
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Customer Code</mat-label>
                                        <input type="text" formControlName="customerCode" matInput>
                                        <mat-error i18n="@@CMMContactsMobileFormControlError">Customer code <strong>required</strong></mat-error>
                                    </mat-form-field>                             
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Remarks </mat-label>
                                        <input type="text" formControlName="remarks" matInput>
                                    </mat-form-field>
                                </div> 
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="full-width"> 
                                        <mat-label i18n="@@CMMContactsMobileFormControl">Contact Person</mat-label>
                                        <input matInput type="text" formControlName="party">
                                        <mat-error i18n="@@CMMContactsMobileFormControlError">Contact Person <strong>required</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <p><strong>{{ mPartyName }}</strong> <br> {{ mPartyAdd1 }}, {{ mPartyAdd2 }}, {{ mPartyAdd3 }} <br> {{ mPartyPhone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <hr>
            </div>
            <div class="col-12">
                <mat-tab-group> 
                    <mat-tab label="Service Details">
                        <div class="col-12">
                            <div class="form-row">
                                <div class="col-12" style="height: 35vh; overflow-y: auto;" >
                                    <table class="table table-borderless table-hover table-responsive-xxl" formArrayName="srvItemArr">
                                        <thead>
                                            <tr class="table-reflow" 
                                            style="background-color: rgb(2, 46, 82); color: white;">
                                                <th style="width: 10%;">Code</th>
                                                <th style="width: 20%;">Description</th>                                                                                                     
                                                <th style="width: 15%;">Value</th>
                                                <th style="width: 10%;">Disc %</th>
                                                <th style="width: 10%;">Disc</th>
                                                <th style="width: 10%;">VAT %</th>
                                                <th style="width: 10%;">VAT</th>
                                                <th style="width: 15%;">Gross</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody (keydown.alt.n)="addServiceItem()">
                                            <tr 
                                            #rptItem 
                                            *ngFor="let rp of srvItem?.controls; let i = index;" 
                                            [formGroupName]="i" 
                                            (keydown.alt.x)="deleteServiceItem(i)">
                                                <td>
                                                    <input #itemCode class="form-control form-control-sm" type="text" formControlName="srvCode">
                                                     
                                                </td>
                                                <td>
                                                    <textarea class="form-control form-control-sm" formControlName="srvDesc">
                                                    </textarea>
                                                </td>              
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="srvValue">
                                                </td>
                                                <td>
                                                    <input #disc class="form-control form-control-sm" type="text" formControlName="srvDisc">
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="srvDiscount">
                                                </td>
                                                <td>
                                                    <mat-select formControlName="srvVatCat" required>
                                                        <mat-option *ngFor="let tax of taxArr" [value]="tax.TAX_1_PERC">
                                                            {{ tax.TAX_CATEGORY_NAME }}
                                                        </mat-option>
                                                    </mat-select>
                                                </td>
                                                <td>
                                                    <input #pcode class="form-control form-control-sm" type="text" formControlName="srvVat">
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm" type="text" formControlName="srvNetValue">
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" type="button" (click)="deleteServiceItem(i)">&#10005;</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" 
                                    type="button" 
                                    (click)="addServiceItem()">&#43;</button>
                                </div>
                            </div>  
                        </div>    
                    </mat-tab>
                </mat-tab-group>
            </div>
            <hr>
            <div class="col-12">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">
                                <h4 style="color: darkblue;">Total:</h4>
                                <h4 style="color: darkblue;">Discount:</h4>
                                <h4 style="color: darkblue;">VAT:</h4>
                                <hr>
                                <h3 style="color: darkblue;">Grand Total:</h3>
                            </div>                                    
                            <div class="col-6" style="float: right;">
                                <h4 style="color: darkblue;">BHD {{ mAgrTotal | number : '1.3' }}</h4>
                                <h4 style="color: darkblue;">BHD {{ mAgrDisc | number : '1.3'}}</h4>
                                <h4 style="color: darkblue;">BHD {{ mAgrVAT | number : '1.3'}}</h4>
                                <hr>
                                <h3 style="color: darkblue;">BHD {{ mAgrGTotal | number : '1.3'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="col-12">
            <ng-template #SOLookUpDialouge style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up for Sales Order: {{ SOArr.length }}</b>
                </h3>
                <hr>
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="SalesOrderDataSource" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">
                        <ng-container matColumnDef="sono">
                            <th mat-header-cell 
                            *matHeaderCellDef> SO Number </th>
                            <td mat-cell 
                            *matCellDef="let so"> {{ so.SONO }} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="pcode">
                            <th mat-header-cell 
                            *matHeaderCellDef> Pcode </th>
                            <td mat-cell 
                            *matCellDef="let so"> {{ so.PCODE }} </td>
                        </ng-container>

                        <ng-container matColumnDef="custname">
                            <th mat-header-cell 
                            *matHeaderCellDef> Customer Name</th>
                            <td mat-cell 
                            *matCellDef="let so"> {{ so.CUST_NAME }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell 
                            *matHeaderCellDef> Total Amount</th>
                            <td mat-cell 
                            *matCellDef="let so"> {{ so.GTOTAL }} </td>
                        </ng-container>
                        <tr mat-header-row 
                        *matHeaderRowDef="SalesOrderDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: SalesOrderDisplayedColumns;  let i= index" [ngClass]="{'highlight': selectedRowIndex == i}" (click)="highlight('salesorder',i)" tabindex="999" (keydown.arrowdown)="arrowDownEvent('salesorder',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('salesorder',selectedRowIndex)" 
                        (keydown.enter)="selectSalesOrder(SOArr[selectedRowIndex])"></tr>
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>

        <div class="col-12">
            <ng-template #AgreementLookUpDialouge style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up for Agreement: {{ agrArr.length }}</b>
                </h3>
                <hr>
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="AgreementDataSource" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">

                    <ng-container matColumnDef="agrno">
                        <th mat-header-cell 
                        *matHeaderCellDef> Agreement  </th>
                        <td mat-cell 
                        *matCellDef="let agr"> {{ agr.AGR_NO }} </td>
                    </ng-container>
                        
                    <ng-container matColumnDef="sono">
                        <th mat-header-cell 
                        *matHeaderCellDef> SO Number </th>
                        <td mat-cell 
                        *matCellDef="let agr"> {{ agr.SONO }} </td>
                    </ng-container>
                      
                        <ng-container matColumnDef="pcode">
                            <th mat-header-cell 
                            *matHeaderCellDef> Pcode </th>
                            <td mat-cell 
                            *matCellDef="let agr"> {{ agr.PCODE }} </td>
                        </ng-container>

                        <ng-container matColumnDef="custname">
                            <th mat-header-cell 
                            *matHeaderCellDef> Customer Name</th>
                            <td mat-cell 
                            *matCellDef="let agr"> {{ agr.CUST_NAME }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell 
                            *matHeaderCellDef> Total Amount</th>
                            <td mat-cell 
                            *matCellDef="let agr"> {{ agr.GTOTAL }} </td>
                        </ng-container>
                        <tr mat-header-row 
                        *matHeaderRowDef="AgreementDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: AgreementDisplayedColumns;  let i= index" [ngClass]="{'highlight': selectedRowIndex == i}" (click)="highlight('agreement',i)" tabindex="999" (keydown.arrowdown)="arrowDownEvent('agreement',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('agreement',selectedRowIndex)" 
                        (keydown.enter)="selectAgreement(agrArr[selectedRowIndex])"></tr>
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>

        <div class="col-12">
            <ng-template #InvoiceLookUpDialouge style="width: 60%;">
                <h3 matDialogTitle>
                    <b>Look up for Invoice: {{ invArr.length }}</b>
                </h3>
                <hr>
                <div mat-dialog-content>
                    <table mat-table 
                    [dataSource]="InvoiceDataSource" 
                    class="mat-elevation-z8" 
                    style="width: 65vw; height: 50vh;">

                    <ng-container matColumnDef="invno">
                        <th mat-header-cell 
                        *matHeaderCellDef> Invoice  </th>
                        <td mat-cell 
                        *matCellDef="let inv"> {{ inv.TRN_NO }} </td>
                    </ng-container>
                        
                    <ng-container matColumnDef="sono">
                        <th mat-header-cell 
                        *matHeaderCellDef> SO Number </th>
                        <td mat-cell 
                        *matCellDef="let inv"> {{ inv.SONO }} </td>
                    </ng-container>
                      
                        <ng-container matColumnDef="date">
                            <th mat-header-cell 
                            *matHeaderCellDef> Date </th>
                            <td mat-cell 
                            *matCellDef="let inv"> {{ inv.TRN_DATE }} </td>
                        </ng-container>

                        <ng-container matColumnDef="custname">
                            <th mat-header-cell 
                            *matHeaderCellDef> Customer Name</th>
                            <td mat-cell 
                            *matCellDef="let inv"> {{ inv.CUST_NAME }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell 
                            *matHeaderCellDef> Total Amount</th>
                            <td mat-cell 
                            *matCellDef="let inv"> {{ inv.GROSSAMOUNT }} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="InvoiceDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: InvoiceDisplayedColumns;  let i= index" [ngClass]="{'highlight': selectedRowIndex == i}" (click)="highlight('invoice',i)" tabindex="999" (keydown.arrowdown)="arrowDownEvent('invoice',selectedRowIndex)"
                        (keydown.arrowup)="arrowUpEvent('invoice',selectedRowIndex)" 
                        (keydown.enter)="selectInvoice(invArr[selectedRowIndex])"></tr>
                    </table>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button matDialogClose="close">Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>
    </div>
</div>