.full-width {
    width: 100%;
    height: 40%;
}

.mat-column-PCODE {
  flex: 0 0 15%;
}
.mat-column-NAME {
  flex: 0 0 25%;
}

.mat-column-DESCRIPTION {
  flex: 0 0 30%;
}
.mat-column-TYPE {
  flex: 0 0 20%;
}

.mat-column-Actions {
  flex: 0 0 10%;
}


