.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.mat-column-EXP_CODE {
  flex: 0 0 20%;
}

.mat-column-EXP_DESC {
  flex: 0 0 30%;
}

.mat-column-GL_CODE_AFFECTED {
  flex: 0 0 30%;
}

.mat-column-Actions {
  flex: 0 0 20%;
}


