.full-width {
  width: 100%;
  height: 20%;
}

.mat-column-PARTY_ID {
  flex: 0 0 6%;
}

.mat-column-NAME {
  flex: 0 0 20%;
}
.mat-column-ADD1 {
  flex: 0 0 18%;
}

.mat-column-ADD2 {
  flex: 0 0 18%;
}

.mat-column-ADD3 {
  flex: 0 0 19%;
}

.mat-column-PHONE1 {
  flex: 0 0 10%;
}

.mat-column-Actions {
  flex: 0 0 10%;
}
